body{
	background: #ececec;
}

.cover{
	position: relative;
	width: 50%;
	height: 50%;
	background: white;
	-webkit-box-shadow: 1px 1px 10px -1px rgba(0,0,0,0.74);
	-moz-box-shadow: 1px 1px 10px -1px rgba(0,0,0,0.74);
	box-shadow: 1px 1px 10px -1px rgba(0,0,0,0.74);
	margin-top: 50px;
	display: flex;
	align-content: center;
	justify-content: center;
	margin-left: 25%;
}

.inner{
	position: relative;
	width: 100%;
	height: 12%;
	background: skyblue;
	font-size: 18px;
	text-align: center;
	padding-top:5px;
}

.outer{
	padding: 5px;
	font-size: 15px;
	position: absolute;
	width: 100%;
	height: 88%;
	margin-top: 7%;
	background: #f0f8ff;
}

#uploader{
			-webkit-appearance: none;
		    appearance: none;
			width: 90%;
			padding-left: 8%;
			height: 5px;
			margin-bottom: 10px; 
		}
		
#p1{
			margin: 10px;
}
		
		#mdl_progress{
			margin: 10px;
			width: 50%;
		}
		progress[value]::-webkit-progress-bar {
  			background-color: powderblue;
  			border-radius: 2px;
  			box-shadow: 0 2px 5px rgba(0, 0, 0, 0.10) inset;
		}
		progress::-webkit-progress-value { 
			background-color: royalblue; 
		}
		