.head{
	position: relative;
	width: 50%;
	height: 10%;
	-webkit-box-shadow: 0px 0px 35px -5px rgba(0,0,0,1);
	-moz-box-shadow: 0px 0px 35px -5px rgba(0,0,0,1);
	box-shadow: 0px 0px 35px -5px rgba(0,0,0,1);
	display: flex;
	align-content: center;
	justify-content: center;
	margin-left: 25%;
	margin-top: 22%;
	font-size: 50px;
	font-family: monospace;
	padding-top: 4%;
	color: white;
	background: #7C7CB2;
}
body{
	background-color: #DCDCDC;
}